<div class="header__prefix">
  <a routerLink="/" class="header__logo">
    <mat-icon svgIcon="logo" class="__w132 __h32"></mat-icon>
  </a>

  <div class="header__actions">
    <button mat-icon-button>
      <mat-icon class="__s16" svgIcon="user-strocked"></mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="__s16" svgIcon="cross"></mat-icon>
    </button>
  </div>
</div>

<div class="header__suffix">
  <button mat-button class="header__link" (click)="logout()">Выйти</button>
</div>
