<app-crud-table [data]="data$ | async"
                [columnsDefinitions]="columnDefinitions"
                [operations]="operations"
                (add)="crud.add($event)"
                (update)="crud.update($event.id, $event)"
                (delete)="crud.delete($event.id, $event)">
  <ng-template #form let-data>
    <h2 mat-dialog-title>Заказ | {{data.title}}</h2>
    <mat-dialog-content class="mat-typography">
      <form fxLayout="column" fxFlexAlign="center" [formGroup]="data.form">
        <input class="cdk-visually-hidden" type="text" formControlName="id">
        <div fxLayout="row">
          Дата создания: {{data.entity.date | date: 'short'}}
        </div>
        <mat-form-field fxLayout="row">
          <mat-label>Статус</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of ORDER_STATUS" [value]="status.value">{{status.view}}</mat-option>
          </mat-select>
        </mat-form-field>
        <app-product-list [products]="data.entity.products"></app-product-list>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{data.closeLabel}}</button>
      <button mat-button [mat-dialog-close]="data.form.value" cdkFocusInitial>{{data.actionLabel}}</button>
    </mat-dialog-actions>
  </ng-template>
</app-crud-table>
