<form fxLayout="column" fxFlexAlign="center" fxFlexFill [formGroup]="authForm" (ngSubmit)="login()" class="pl20">
  <mat-form-field fxLayout="row">
    <mat-label>Логин</mat-label>
    <input matInput type="text" formControlName="login">
  </mat-form-field>
  <mat-form-field fxLayout="row">
    <mat-label>Пароль</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-flat-button color="primary" [disabled]="authForm.invalid" (click)="signup()">
      Зарегистрироваться
    </button>
    <button type="submit" mat-flat-button color="primary" [disabled]="authForm.invalid">Войти</button>
  </div>
</form>
