<app-crud-table [data]="data$ | async"
                [columnsDefinitions]="columnDefinitions"
                (add)="crud.add($event)"
                (update)="crud.update($event.id, $event)"
                (delete)="crud.delete($event.id, $event)">
  <ng-template #form let-data>
    <h2 mat-dialog-title>Продукт | {{data.title}}</h2>
    <mat-dialog-content class="mat-typography">
      <form fxLayout="column" fxFlexAlign="center" [formGroup]="data.form">
        <input class="cdk-visually-hidden" type="text" formControlName="id">
        <mat-form-field fxLayout="row">
          <mat-label>Название</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field fxLayout="row">
          <mat-label>Описание</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field fxLayout="row">
          <mat-label>Цена</mat-label>
          <input matInput type="number" formControlName="price">
        </mat-form-field>
        <mat-form-field fxLayout="row">
          <mat-label>Категория</mat-label>
          <mat-select [compareWith]="compareWith" formControlName="category">
            <mat-option *ngFor="let category of categories$ | async"
                        [value]="category">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{data.closeLabel}}</button>
      <button mat-button [mat-dialog-close]="data.form.value" cdkFocusInitial>{{data.actionLabel}}</button>
    </mat-dialog-actions>
  </ng-template>
</app-crud-table>
