<form [formGroup]="searchForm" fxLayout="row">
  <mat-form-field>
    <mat-label>Категория</mat-label>
    <mat-select formControlName="category" multiple>
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-price-filter formControlName="price"></app-price-filter>
  <button mat-flat-button [disabled]="searchForm.invalid" (click)="onSearch()">Поиск</button>
  <button mat-flat-button (click)="reset()">Сбросить</button>
</form>
